body {
	font-family: 'Open Sans', sans-serif;
	background-color: #006994;
	color: white;
}

#box {
	background-color: #002540;
	color: white;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
}

.nav-your-site {
	display: inline;
	padding-right: 70%;
}

.nav {
	display: inline;
	margin: 1rem;
}

#centerpiece {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}

h1 {
	height: 150px;
	width: 700px;
	border: 1px solid white;
	box-sizing: border-box;
	display: inline-block;
	margin: 1rem;
	vertical-align: center;
}

.header {
	padding: 60px;
	text-align: center;
}

h3 {
	padding-left: 10%;
	padding-right: 10%;
	
}

button {
	font-weight: bold;
	background-color: white;
	border-radius: 5px;
	font-size: 1rem;
	padding: 0.5rem;
	color: #006994;

}